%h3.name
  %span.race {{race.name}}
  %span.player {{name}}

.order-of-battle
  .units
    .unit.template
      .battle-value ({{battle}})
      .image
      .name {{name}}
      .quantity
        %a.increase{href:'#increase'} +
        %span.value {{quantity}}
        %a.decrease{href:'#decrease'} -
      .rolls

  .hits-from-opponent.hidden
    %span.label Hits Taken
    %span.value 0

%ul.actions
  %li
    %a{href:'#adjust-battle-values'} Battle Values
  %li
    %a{href:'#adjust-damage-values'} Apply Damage
  %li
    %a{href:'#clear-units'} Clear Units
