.round
  %h2
    %span.default
      Round
      %span.value 1
    %span.pre-combat Pre-Combat Round

  .actions
    %a.pre-battle{href:'#next-round'} Skip to Round 1

.phase-message
  %p Pshaw

.battle-board
  .force.attacker{'data-player' => 0}
    %h2 Attacker
    = partial "battle_force"

  .force.defender{'data-player' => 0}
    %h2 Defender
    = partial "battle_force"

.round-summary.hidden
  = partial "round_summary"

.battle-actions
  %span.new-battle-action>
    %a.new-battle.btn{href:'#new-battle'}> New Battle
    %span.options.hidden>
      %a.new-space-combat.btn{href:'#new-space-combat'}> Space
      %a.new-ground-combat.btn{href:'#new-ground-combat'}> Ground
  %a.roll-dice.btn{href:'#roll-dice'}> Roll Dice!
  %a.reset-dice.btn{href:'#reset-dice'}> Reset Dice
  %a.resolve-round.btn{href:'#resolve-round'}> Resolve Round
