%h3.name
  %span.template
    %span.race {{race.name}}
    %span.player {{name}}

.order-of-battle
  .units
    .unit.template
      = partial "battle_unit"

.damage
  .hits-from-opponent.zero
    %span.label Hits Received
    %span.value 0

  .damage-applied.zero
    %span.label Damage Applied
    %span.value 0

.actions
  .clear-units
    %a{href:'#clear-units'} Clear Units
  .adjust-battle-values
    %a{href:'#adjust-battle-values'} Battle Values
  .adjust-damage-values
    %a{href:'#adjust-damage-values'} Add Damage
  .clear-damage.damage
    %a{href:'#clear-damage'} Clear Damage
