%h3.name
  %span.race {{race.name}}
  %span.player {{name}}

.order-of-battle
  .units
    .unit.template
      .battle-value (<span class="value">{{battle}}</span>)
      .image
      .name {{name}}
      .quantity
        %a.increase{href:'#increase-quantity'} +
        %span.value {{quantity}}
        %a.decrease{href:'#decrease-quantity'} -
      .rolls
      .adjust-battle-values
        %a.increase{href:'#increase-battle-value'} +
        %span.value +0
        %a.decrease{href:'#decrease-battle-value'} -
      .add-damage
        %a{href:'#add-damage'} Add Damage

  .hits-from-opponent
    %span.label Hits Taken
    %span.value 0

  .clear-damage
    %a{href:'#clear-damage'} Clear Damage

%ul.actions
  %li.clear-units
    %a{href:'#clear-units'} Clear Units
  %li.adjust-battle-values
    %a{href:'#adjust-battle-values'} Battle Values
  %li.adjust-damage-values
    %a{href:'#adjust-damage-values'} Sustained Damage
