.combat-type-selection
  %ul.nav.nav-pills
    %li
      %a{href:'#space-battle'} Space Battle
    %li
      %a{href:'#invasion-combat'} Invasion Combat

.actions
  %a.new-battle.btn{href:'#new-battle'} New Battle
  %a.roll-dice.btn{href:'#roll-dice'} Roll Dice!
  %a.reset-dice.btn{href:'#reset-dice'} Reset Dice
  %a.resolve-round.btn{href:'#resolve-round'} Resolve Round
  %a.next-round.btn{href:'#next-round'} Next Round

.round
  %h2
    %span.default.round-number
      Round
      %span.value 1
    %span.pre-battle Pre-Battle Round

  .actions
    %a.pre-battle{href:'#next-round'} Skip to Round 1

.force.attacker{'data-player' => 0}
  %h2 Attacker
  = partial "battle_force"

.force.defender{'data-player' => 0}
  %h2 Defender
  = partial "battle_force"

.round-summary.hidden
  = partial "round_summary"
