.battle
  %strong.value> {{battle}}
  %span +
.dice{ class: "dice-{{dice}}" }
  %span> x
  %strong.value {{dice}}
.image
.name {{name}}
.sustained-damage{ class: "{{zeroCss(sustainedDamage)}}" }
  %span.label Sustained Damage
  %span.value {{sustainedDamage}}
  %a.add-sustained-damage{href: '#add-sustained-damage'} +
.quantity
  %a.increase{href:'#increase-quantity'} +
  %span.value {{quantity}}
  %a.decrease{href:'#decrease-quantity'} -
.rolls
.adjust-battle-values
  %a.increase{href:'#increase-battle-value'} +
  %span.value +0
  %a.decrease{href:'#decrease-battle-value'} -

.damage.zero
  %span.add-damge
    %a{href:'#add-damage'} Add Damage
  %span.value 0
