%h2.heading
  %span.win
    Victory! <strong>{{race.name}}</strong> has won
  %span.draw
    It’s a draw. You both lose
  %span.continue
    The battle continues...

.summary
  %h3.round Summary of Round <span class="value">1</span>

  .forces
    .force.template
      %h4
        %span.race {{race.name}}
        %span.player {{player.name}}

      %p.overview
        Inflicted {{hits}} {{"hit".pluralize(hits)}} to the other side and
        took {{damage}} damage losing {{losses}} {{"unit".pluralize(losses)}}.

      %ul.units
        %li.unit.template
          %span.name {{name}}
          %span.battle {{battle}}
          %span.rolls {{rolls}}
          %span.losses
            Remove
            %span.value {{losses}}
            {{name.pluralize(losses)}}

.actions
  %a.done.btn{href:'#done'} Thanks, We’re Done
  %a.next-round.btn{href:'#next-round'} Continue to Next Round
  %a.start-invasion-combat.btn.hidden{href:'#start-invasion-combat'} Start Invasion Combat
