%h1 Select Player

.message
  Select a player below to manage. You can change later if needed.

.players
  .player.template
    .player{ class: "{{active}}" }
      %a.select-player{ href:'#select-player', id: "player-{{number}}" }
        %span.name {{name}}
        %span.color {{color}}
        %span.race {{race.name}}
