%h1
  %span Player
  Technology Tree

.technologies
  .tech.template
    .tech{ id: "{{id}}", class: "{{id}} l-{{level}} {{color}}" }
      %h3.name {{name}}
      %p.description {{description}}
      .action
        %a.research{ href:'#research' }
          %span [√]
