.section#index.active
  .game-options
    .new-game
      %a.btn{href:'#new-game'} New Game
    .join-game
      %a.btn{href:'#join-game'} Join Game

  = partial "new_game"

.section#battle
  = partial "battle_section"
