.section#index.active
  %ul.game-options.nav
    %li
      %a{href:'#new-game'} New Game
    %li
      %a{href:'#join-game'} Join Game

.section#new-game
  %form
    %label{ for: "game_name" } Name
    %input#game_name{ name: "name" }

.section#battle
  .combat-type-selection
    %ul.nav.nav-pills
      %li
        %a{href:'#space-battle'} Space Battle
      %li
        %a{href:'#invasion-combat'} Invasion Combat

  .actions
    %a{href:'#new-battle'} New Battle
    %a{href:'#resolve-battle'} Resolve!

  .rounds{'data-round' => 0}
    %h2 Round 0
    %a{href:'#set-round'} Change

  .force.attacker{'data-player' => 0}
    %h2 Attacker
    = partial "battle_panel"

  .force.defender{'data-player' => 0}
    %h2 Defender
    = partial "battle_panel"

