.section#index.active
  .game-options
    .new-game
      %a{href:'#new-game'} New Game
    .join-game
      %a{href:'#join-game'} Join Game

.section#new-game
  %form
    %label{ for: "game_name" } Name
    %input#game_name{ name: "name" }

.section#battle
  = partial "battle_section"
