.section#index.active
  %ul.game-options.nav
    %li
      %a{href:'#new-game'} New Game
    %li
      %a{href:'#join-game'} Join Game

.section#new-game
  %form
    %label{ for: "game_name" } Name
    %input#game_name{ name: "name" }

.section#battle
  = partial "battle_section"
