!!! 5
-# %html{ manifest: "/manifest.appcache" }
%html
  %head
    %title Battle Board
    %link{ rel: 'stylesheet', href: '/stylesheets/application.css', type: 'text/css', media: 'all'}
    %meta{ name:"viewport", content:"width=device-width, minimum-scale=1, maximum-scale=1" }
    %meta{ name:"apple-mobile-web-app-capable", content:"yes"}
    :javascript
      window.GAME_TOKEN=#{@game.nil? ? 'null' : @game.token.inspect};

  %body
    .main-nav.hide
      %ul
        %li
          %a.battle{href:'#battle'} Battle

    .container
      = yield

    %script{ src: "/javascripts/jquery.min.js" }
    %script{ src: "/javascripts/underscore-min.js" }
    %script{ src: "/javascripts/backbone-min.js" }
    %script{ src: "/javascripts/bootstrap/bootstrap-transition.js" }
    %script{ src: "/javascripts/bootstrap/bootstrap-modal.js" }
    %script{ src: "/javascripts/jquery.deparam.min.js" }
    %script{ src: "/javascripts/all.js" }
