!!! 5
%html
  %head
    %title Battle Board
    %link{ rel: 'stylesheet', href: 'stylesheets/application.css', type: 'text/css', media: 'all'}
    -# %script{ src: "/javascripts/less-1.3.0.min.js" }
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1" }

  %body
    .main-nav
      %ul
        %li
          %a.battle{href:'#battle'} Battle

    .container
      = yield

    %script{ src: "/javascripts/jquery.min.js" }
    %script{ src: "/javascripts/underscore-min.js" }
    %script{ src: "/javascripts/backbone-min.js" }
    %script{ src: "/javascripts/bootstrap/bootstrap-transition.js" }
    %script{ src: "/javascripts/bootstrap/bootstrap-modal.js" }
    %script{ src: "/javascripts/all.js" }
