article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{max-width:100%;width:auto\9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
#map_canvas img{max-width:none;}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
button,input{*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;color:#333333;background-color:#ffffff;}
.hidden{display:none;}
.container{width:1024px;}
.section{display:none;}.section.active{display:block;}
.template{display:none;}
.round .pre-battle{display:none;}
.round.zero .default{display:none;}
.round.zero .pre-battle{display:inline;}
.force{*zoom:1;}.force:before,.force:after{display:table;content:"";line-height:0;}
.force:after{clear:both;}
.force .name .player{color:#737373;font-size:12.6px;}
.force .hits-from-opponent{display:none;}
.force .damage{display:none;}
.force .unit{*zoom:1;position:relative;width:150px;height:150px;float:left;}.force .unit:before,.force .unit:after{display:table;content:"";line-height:0;}
.force .unit:after{clear:both;}
.force .unit .image{border:1px solid #CCC;width:98px;height:98px;}
.force .unit .rolls .hit{color:#F00;}
.force .unit .rolls .miss{color:#666;}
.force .unit .adjust-battle-values{display:none;}
.reset-dice.btn{display:none;}
.dice-rolled .hits-from-opponent{display:block;}
.dice-rolled .damage{display:block;}.dice-rolled .damage.zero .value{display:none;}
.dice-rolled .roll-dice.btn{display:none;}
.dice-rolled .reset-dice.btn{display:inline-block;}
.adjusting-battle-values .unit .adjust-battle-values{display:block;}
