.game-created-view.hide
  %h1 Game Created

  .message
    %p Give this code to your friends so they can join the game...

  .game-token
    ABCDEF

  .game-start
    %a.start-game.btn.primary{href:'#start-game'} Let’s Begin...
