%h1 Select Player

.message
  Select current player below. You can change this later.

.players
  .player.template
    .player{ class: "{{active}}" }
      %a.select-player{ href:'#select-player', id: "player-{{number}}" }
        %span.name {{name}}
        %span.color.swatch{ class: "{{color}}" }
          %span {{color}}
        %span.race {{race.name}}
