@import "bootstrap/reset";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "mixins";

@baseFontSize: 14px;
@textColor: #333;
@bodyBackground: #FAFAFA;
@headingsColor: #1F1F1F;
@baseLineHeight: 1;

body {
  .reset;
  #font > .sans-serif;
  color: @textColor;
  background-color: @bodyBackground;
}

h1, h2, h3 {
  color: @headingsColor;
}

p {
  margin: 0;
}
a {
  text-decoration: none;
}

.hidden {
  display: none;
}

// Top-level navigation
.main-nav {
  position: relative;
  width: 1024px;
  margin:auto;

  ul {
    position: absolute;
    .horizontal-list;
  }
}
// Main area for content
.container {
  width: 1024px;
  margin:auto;
}
// Sections navigated to from main nav
.section {
  .hidden;

  &.active {
    display: block;
  }
}

.template {
  .hidden;
}
a.disabled, .disabled a {
  .opacity(20);
}


#battle {
  .round {
    text-align: center;
    h2 {
      font-weight: 200;
      font-size: 42px;
      .text-inset;
      margin: 0;
      padding: 20px 0;
      line-height: 1;
    }
    .pre-combat {
      .hidden;
    }
    .actions {
      .hidden
    }
    &.zero {
      .default {
        .hidden;
      }
      .pre-combat {
        display: inline;
      }
    }
  }

  .phase-message {
    .serif(16px);
    color: #286386;
    background-color: #D9EDF7;
    border-top:1px solid #BCE8F1;
    border-bottom:1px solid #BCE8F1;
    height: 35px;
    line-height: 35px;
    text-align: center;
  }

  .force {
    position: relative;
    margin: 25px 50px 0;

    & > h2 {
      font-size: 12px;
      font-weight: 300;
      line-height: 16px;
      text-transform: uppercase;
      color: #666;
      font-weight: bold;
      border-bottom: 1px dashed #e0e0e0;
    }

    h3.name {
      font-weight: normal;
      margin: 12px 0;
      .race {
        font-size: 26px;
        margin-right: 4px;
      }
      .player {
        .serif;
        color: @gray;
        font-size: 20px;
      }
    }

    .order-of-battle {
      margin: 0 -12px;
      height: 165px;
      .clearfix;
    }

    .unit {
      position: relative;
      width: 135px;
      height: 165px;
      float:left;

      .image {
        position: absolute;
        top: 42px;
        left: 3px;
        border: 1px dotted #EEE;
        width: 77px;
        height: 77px;
        z-index: 1;
      }
      .name {
        .hidden;
      }
      .battle {
        z-index: 2;
        position: absolute;
        top: 34px;
        left: -3px;
        font-size: 16px;
        font-weight: bold;
        background: url("/images/battle-value.png") no-repeat;
        height: 30px;
        width: 30px;
        .value {
          display: block;
          line-height: 30px;
          text-align: center;
        }
        span {
          .hidden;
        }
      }
      .dice {
        .hidden;
      }
      .quantity {
        position: absolute;
        top:0px;
        right: 5px;
        width: 40px;
        text-align: center;
        font-weight: bold;
        line-height: 1;
        .value {
          color: #454F60;
          font-size: 57px;
          // text-shadow: -1px -1px #222;
          line-height: 63px;
        }
        &.double .value {
          font-size: 40px;
        }
        a {
          display: block;
          font-size: 48px;
          color: #9FA4C0;
          &.decrease {
            line-height: 35px;
          }
        }
      }
      .adjust-battle-values {
        .hidden;
        #battle > .force > .unit > .quantity;
        .value {
          font-size: 35px;
        }
        &.positive {
          .value {
            color: #060;
          }
        }
        &.negative {
          .value {
            color: #600;
          }
        }
      }
      .damage {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
        a {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          .hide-text;
          z-index: 2;
        }
        .value {
          position: absolute;
          top: 17px;
          right: 28px;
          background: url("/images/unit-damage.png") no-repeat;
          width: 66px;
          height: 66px;
          display: block;
          text-align: center;
          font-weight: bold;
          font-size: 28px;
          line-height: 66px;
          color: #FFF;
          text-shadow: 1px 1px @grayDarker;
          z-index: 1;
        }
        &.zero {
          .value {
            .hidden;
          }
        }
      }
      .rolls {
        position: absolute;
        top: 150px;
        #font > .monospace(13px, normal, 15px);
        margin-left: 5px;
        margin-right: 15px;
        .hit {
          color: #080;
        }
        .miss {
          color: @grayLight;
        }
      }
    } //.unit
    .actions {
      position: absolute;
      top: 115px;
      right: -25px;
      line-height: 22px;
      font-size: 12px;
      width: 95px;
      a {
        color: @grayDark;
        padding-left: 21px;
        display: inline-block;
      }
      .clear-units a {
        background: url("/images/btn-clear-units.png") no-repeat left center;
      }
      .adjust-battle-values a {
        background: url("/images/btn-adjust-battle.png") no-repeat left center;
      }
      .adjust-damage-values a {
        background: url("/images/btn-adjust-damage.png") no-repeat left center;
      }
    }
    .damage {
      .hidden;
    }

  } //.force

  .round-summary {

    h2 .win, h2 .draw {
      .hidden;
    }

    &.win {
      h2 .win {
        display: inline;
      }
      h2 .continue {
        .hidden;
      }
    }

    &.draw {
      h2 .draw {
        display: inline;
      }
      h2 .continue {
        .hidden;
      }
    }
  }


  .reset-dice.btn {
    .hidden;
  }

  .resolve-round.btn {
    .hidden;
  }

  .adjusting-battle-values {
    .unit {
      .quantity {
        .hidden;
      }
      .adjust-battle-values {
        display: block;
      }
    }
  }

  // After dice have been rolled we start applying damage
  &.dice-rolled {
    .hits-from-opponent {
      display: block;
    }

    .damage {
      display: block;
    }

    .roll-dice.btn {
      .hidden;
    }
    .reset-dice.btn {
      display: inline-block;
    }
    .resolve-round.btn {
      display: inline-block;
    }
  }

  &.round-resolved {
    .reset-dice.btn {
      .hidden;
    }
  }

}

