@import "bootstrap/reset";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/component-animations";
@import "bootstrap/modals";
@import "mixins";

@baseFontSize: 14px;
@textColor: #333;
@bodyBackground: #FAFAFA;
@headingsColor: #1F1F1F;
@placeholderText: #CCC;
@baseLineHeight: 1;
@gray:#666;

@primaryBtnColor: #08C;
@cautionBtnColor: #F90;

html {
  font-size:@baseFontSize;
}
body {
  .reset;
  #font > .sans-serif;
  color: @textColor;
  background-color: @bodyBackground;
}
h1, h2, h3, h4 {
  color: @headingsColor;
  margin: 0;
}
h1 {
  text-align: center;
  font-weight: 200;
  .font-size(42);
  .text-inset;
  margin: 0;
  padding: 0.476190476em 0;
  line-height: 1;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}

// Top-level navigation
.main-nav {
  position: relative;
  width: 1024px;
  margin:auto;
  z-index: 2;
  ul {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 1px; // reduce height so links below clickable
    .box-sizing(border-box);
    padding: 0 12px;
    top:5px;
    left: 0;
    li {
      list-style: none;
      float:left;
      margin-right: 2px;
    }
  }
  a {
    text-indent: -9999px;
    display: inline-block;
    width: 42px;
    height: 42px;
    background: url("/images/main-nav.png") no-repeat;
  }
  .battle a { background-position-x: -42px; }
  .techtree a { background-position-x: -84px; }
  .sync {
    position: absolute;
    right: 12px;
    a {
      background-position-x: -126px;
    }
    &.loading a {
      background: url("/images/loader.gif") center center no-repeat;
    }
  }
  .active {
    background-color: #E0EBE0;
    .border-radius(21px);
  }
}
// Main area for content
.container {
  margin:auto;
  width: 1024px;
  overflow: hidden;
}
// Sections navigated to from main nav
.section {
  // height: 768px - 20px;
  position: relative;
  display: none;
  &.active {
    display: block;
  }
}
.btn, button {
  font-weight: bold;
  .font-size(30);
  line-height: 45px;
  color: #CCC;
  border: 1px solid #CCC;
  display: inline-block;
  padding: 0 18px;
  background: none;
  &.primary {
    color: @primaryBtnColor;
    border-color: @primaryBtnColor;
  }
}
.template {
  display: none;
}
a.disabled {
  .opacity(20);
}
.message {
  .serif(16px);
  color: #286386;
  background-color: #D9EDF7;
  border-top:1px solid #BCE8F1;
  border-bottom:1px solid #BCE8F1;
  line-height: 1.8rem;
  text-align: center;
}
.color.swatch {
  border: 1px solid #CCC;
  text-align: center;
  line-height: 100%;
  &.red {
    background-color: #F90000;
  }
  &.orange {
    background-color: #F90;
  }
  &.yellow {
    background-color: #FFEA00;
  }
  &.green {
    background-color: #080;
  }
  &.blue {
    background-color: #00F;
  }
  &.purple {
    background-color: #800080;
  }
  &.gray {
    background-color: #999;
  }
  &.black {
    background-color: #000;
  }
  .random {
    display: none;
  }
  &.random .random {
    display: inline-block;
    font-weight: bold;
    .font-size(30);
  }
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
.color-picker {
  position: absolute;
  z-index: 10;
  .swatches {
    position: absolute;
    left: -37px;
    top: -37px;
    width: 112px;
    height:112px;
    .box-shadow(0 0 5px #333);
  }
  .swatch {
    width: 36px !important;
    height: 36px !important;
    margin: 0 !important;
  }
  .color {
    position: absolute;
    float:none !important;
    &.random {
      background-color: #FFF;
    }
    &.color0 {
      left: 0;
      top: 0;
    }
    &.color1 {
      left: 50%;
      margin-left: -19px !important;
      top: 0;
    }
    &.color2 {
      right: 0;
      top: 0;
    }
    &.color3 {
      left: 0;
      top: 50%;
      margin-top: -19px !important;
    }
    &.color4 {
      right: 0;
      bottom: 50%;
      margin-bottom: -19px !important;
    }
    &.color5 {
      left: 0;
      bottom:0;
    }
    &.color6 {
      right: 50%;
      margin-right: -19px !important;
      bottom:0;
    }
    &.color7 {
      right:0;
      bottom:0;
    }
    // currently selected
    &.color8 {
      left: 50%;
      top: 50%;
      margin: -19px 0 0 -19px !important;
    }
  }
}
.option-picker {
  .option {
    .font-size(24);
    padding: 5px 0;
    font-weight: 200;
    border-bottom: 1px solid #DDD;
    text-align: center;
    margin: 0 -22px;
    a {
      color: @textColor;
      display: block;
    }
    &:first-child {
      border-top: 1px solid #DDD;
    }
    &.selected {
      background-color: #D0E6F6;
    }
  }
}
#index {
  .game-options {
    text-align: center;
    padding-top: 180px;
    .btn {
      width: 180px;
      margin-bottom: 12px;
    }
    .new-game a {
      color: @primaryBtnColor;
      border-color: @primaryBtnColor;
    }
    .join-game a {
      color: @cautionBtnColor;
      border-color: @cautionBtnColor;
    }
  }
  input {
    border: none;
    padding: 0;
    margin: 0;
    #font > .sans-serif(36px);
    font-weight: 200;
    background: none;
    .placeholder();
  }
  .back {
    position: absolute;
    top: 15px;
    left: 25px;
    margin: 0;
    .btn {
      color: @gray;
      border-color: @gray;
    }
  }
  .new-game-view {
    button {
      color: @primaryBtnColor;
      border-color: @primaryBtnColor;
    }
    form {
      width: 940px;
      margin: auto;
      padding-top: 65px;
    }
    .player {
      clear:both;
      .clearfix;
      .font-size(36);
      font-weight: 200;
      margin-bottom: 18px;
      .name {
        float: left;
        width: 35%;
        input {
          width: 100%;
          text-align: right;
        }
      }
      .color {
        float: left;
        width: 36px;
        height: 36px;
        margin: 0 20px;
        // .font-size(34);
        a {
          color: @gray;
        }
      }
      .race {
        float: left;
        a {
          color: @textColor;
        }
        &.random a {
          color: @gray;
        }
      }
    } //.player
    .form-actions {
      clear:both;
      text-align: center;
      padding-top: 25px;
    }
  } //.new-game-view
  .game-created-view {
    text-align: center;
    .game-token {
      font-weight: bold;
      .font-size(48);
      text-transform: uppercase;
      margin: 50px 0;
    }
    .game-start {
      .btn {
        color:@primaryBtnColor;
        border-color:@primaryBtnColor;
      }
    }
  }
  .join-game-view {
    form {
      text-align: center;
      padding-top: 50px;
    }
    input {
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }
    .form-actions {
      margin-top: 50px;
    }
  }
}
#start {
  .players {
    margin-top: 20px;
  }
  .player {
    clear:both;
    .font-size(36);
    padding-top: 0.611em;
    a {
      display: block;
      color: @textColor;
      span {
        display: inline-block;
        vertical-align: middle;
        .box-sizing(border-box);
        float:left;
      }
    }
    .name {
      width: 50%;
      text-align: right;
      padding-right: 75px;
    }
    .color {
      position:absolute;
      left: 50%;
      width: 36px;
      height: 36px;
      margin-left: -53px;
      span {
        display: none;
      }
    }
    .race {
      width: 50%;
    }
  }
}
#battle {
  .round {
    text-align: center;
    h1 {
    }
    .pre-combat {
      display: none;
    }
    small {
      position: absolute;
      top:45px;
      margin-left: 22px;
      font-style: italic;
      .font-size(14);
    }
    .skip-pre-combat {
      display: none;
      color: #08c;
    }
    &.zero {
      .default {
        display: none;
      }
      .pre-combat {
        display: inline;
      }
      .skip-pre-combat {
        display: inline-block;
      }
    }
  } //.round
  .battle-actions {
    position: relative;
    margin: 45px 40px 0;
    text-align: right;
    .btn {
      margin-left: 12px;
    }
    .roll-dice {
      color: @primaryBtnColor;
      border-color: @primaryBtnColor;
    }
    .reset-dice {
      color: @cautionBtnColor;
      border-color: @cautionBtnColor;
    }
    .resolve-round {
      color: @primaryBtnColor;
      border-color: @primaryBtnColor;
    }
    .new-battle-action {
      position: absolute;
      left: 0;
      .btn {
        margin-left: 0;
        margin-right: -1px;
      }
    }
    .new-battle {
      color: #BCB;
      border-color: #BCB;
    }
    .new-space-combat {
      color: #9F3F9F;
      border-color: #9F3F9F;
    }
    .new-ground-combat {
      color: #B18B65;
      border-color: #B18B65;
    }
  } //.battle-actions
  .force {
    position: relative;
    margin: 25px 50px 0;

    & > h2 {
      .font-size(12);
      font-weight: 300;
      line-height: 16px;
      text-transform: uppercase;
      color: #666;
      font-weight: bold;
      border-bottom: 1px dashed #e0e0e0;
    }

    h3.name {
      font-weight: normal;
      margin: 12px 0;
      .race {
        .font-size(26);
        margin-right: 4px;
        color: @textColor;
      }
      .player {
        .serif(20px);
        color: @gray;
      }
    }
    .damage {
      display: none;
    }
    .order-of-battle {
      margin: 0 -20px;
      height: 165px;
      .clearfix;
    }

    .unit {
      position: relative;
      width: 135px;
      height: 165px;
      float:left;
      border-right: 1px dashed #E0E0E0;
      &:last-child { border-right: none; }
      margin-right: 5px;
      .image {
        position: absolute;
        top: 42px;
        left: 8px;
        width: 77px;
        height: 77px;
        z-index: 1;
        overflow: hidden;
        background: url("/images/units.png") no-repeat;
      }
      &.dreadnought .image {
        background-position-y:-77px;
      }
      &.cruiser .image {
        background-position-y:-154px;
      }
      &.destroyer .image {
        background-position-y:-231px;
      }
      &.fighter .image {
        background-position-y:-308px;
      }
      &.carrier .image {
        background-position-y:-385px;
      }
      &.ground .image {
        background-position-y:-462px;
      }
      &.pds .image {
        background-position-y:-539px;
      }
      &.dock .image {
        background-position-y:-616px;
      }
      .name {
        display: none;
      }
      .battle {
        z-index: 2;
        position: absolute;
        top: 34px;
        left:0px;
        .font-size(16);
        font-weight: bold;
        background: url("/images/battle-value.png") no-repeat;
        height: 30px;
        width: 30px;
        .value {
          display: block;
          line-height: 30px;
          text-align: center;
        }
        span {
          display: none;
        }
      }
      .dice {
        position: absolute;
        top:29px;
        left:3px;
        height: 3px;
        width: 35px;
        background: url("/images/dice.png") no-repeat;
        strong, span {
          display: none;
        }
        &.dice-1 {
          display: none;
        }
        &.dice-2 {
          background-position-x:-24px;
        }
        &.dice-3 {
          background-position-x:-18px;
        }
        &.dice-4 {
          background-position-x:-12px;
        }
        &.dice-5 {
          background-position-x:-6px;
        }
        &.dice-6 {
          // background-position-x:0px;
        }
      }
      .quantity {
        position: absolute;
        top:0px;
        right: 6px;
        width: 40px;
        text-align: center;
        font-weight: bold;
        line-height: 1;
        .value {
          color: #454F60;
          .font-size(57);
          // text-shadow: -1px -1px #222;
          line-height: 63px;
        }
        &.double .value {
          .font-size(40);
        }
        a {
          display: block;
          .font-size(48);
          color: #9FA4C0;
          &.decrease {
            line-height: 35px;
          }
        }
      }
      .adjust-battle-values {
        display: none;
        #battle > .force > .unit > .quantity;
        .value {
          .font-size(35);
        }
        &.positive {
          .value {
            color: #060;
          }
        }
        &.negative {
          .value {
            color: #600;
          }
        }
      }
      .damage {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
        a {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          .hide-text;
          z-index: 2;
        }
        .value {
          position: absolute;
          top: 17px;
          right: 23px;
          background: url("/images/unit-damage.png") no-repeat;
          width: 66px;
          height: 66px;
          display: block;
          text-align: center;
          font-weight: bold;
          .font-size(28);
          line-height: 66px;
          color: #FFF;
          text-shadow: 1px 1px @grayDarker;
          z-index: 1;
        }
        &.zero {
          .value {
            display: none;
          }
        }
      }
      .sustained-damage {
        position: absolute;
        top: 120px;
        height: 17px;
        &.zero, span.label, span.value, a {
          display: none;
        }
        .sustained {
          display: inline-block;
          width: 17px;
          height: 17px;
          background: url("/images/sustained-damage.png") no-repeat;
          overflow: hidden;
        }
      }
      .rolls {
        position: absolute;
        top: 125px;
        margin-left: 10px;
        margin-right: 15px;
        .serif(16px, normal);
        .hit {
          color: #080;
        }
        .miss {
          color: @grayLight;
        }
      }
    } //.unit
    &.color-red .unit .image {
    }
    &.color-orange .unit .image {
      background-position-x: -77px;
    }
    &.color-yellow .unit .image {
      background-position-x: -154px;
    }
    &.color-green .unit .image {
      background-position-x: -231px;
    }
    &.color-blue .unit .image {
      background-position-x: -308px;
    }
    &.color-purple .unit .image {
      background-position-x: -385px;
    }
    &.color-gray .unit .image {
      background-position-x: -462px;
    }
    &.color-black .unit .image {
      background-position-x: -539px;
    }
    .force-actions {
      position: absolute;
      top: 115px;
      right: -30px;
      line-height: 22px;
      .font-size(12);
      width: 110px;
      a {
        color: @grayDark;
        padding-left: 21px;
        display: inline-block;
      }
      .clear-units a {
        background: url("/images/btn-clear-units.png") no-repeat left center;
      }
      .adjust-battle-values a {
        background: url("/images/btn-adjust-battle.png") no-repeat left center;
      }
      .adjust-damage-values a {
        background: url("/images/btn-adjust-damage.png") no-repeat left center;
      }
      .clear-damage a {
        background: url("/images/btn-clear-damage.png") no-repeat left center;
      }
    }
    & > .damage {
      position: absolute;
      top: 31px;
      right: -25px;
      .font-size(14);
      font-weight: lighter;
      width: 220px;
      div {
        display: inline-block;
        position: absolute;
      }
      .hits-from-opponent {
        border-right: 1px solid #CCC;
        padding-right: 8px;
        text-align: right;
        right: 50%;
        color: #C00;
        &.zero {
          color: inherit;
        }
      }
      .damage-applied {
        display: inline-block;
        border-left: 1px solid #FFF;
        padding-left: 5px;
        left: 50%;
      }
      .label {
        display: block;
      }
      .value {
        font-weight: bold;
        .font-size(24);
      }
    }
  } //.force
  &.ground {
    .force.attacker {
      .unit.fighter, .unit.pds {
        visibility: hidden;
      }
    }
    .force.defender {
      .unit.warsun, .unit.dreadnought, .unit.fighter {
        visibility: hidden;
      }
    }
  }
  .phase-message {
    .after-dice {
      display: none;
    }
  }
  .round-summary {
    @summaryWidth: 940px;
    width: (@summaryWidth - (22 * 2)) !important;
    margin-left: (@summaryWidth / -2);

    h2 .win, h2 .draw {
      display: none;
    }
    h3.round {
      display: none;
    }
    // Battle states: someone has won, or it's a draw. default is 'continue'
    &.win {
      h2 .win {
        display: inline;
      }
      h2 .continue {
        display: none;
      }
    }
    &.draw {
      h2 .draw {
        display: inline;
      }
      h2 .continue {
        display: none;
      }
    }
    .force {
      float: left;
      width: 50%;
      .box-sizing(border-box);
      margin: 25px 0;
      &:first-child {
        padding-right: 20px;
      }
      .stance {
        text-transform: capitalize;
        .font-size(14);
        font-weight: 200;
      }
      h4 {
        .font-size(18);
        font-weight: normal;
        .player {
          .serif(14px);
          color: @gray;
        }
      }
      .overview {
        .serif;
        margin: 12px 0;
        color: @gray;
      }
      .units {
        margin: 0;
        padding: 0;
      }
      .unit {
        display: block;
        width: auto;
        height: auto;
        list-style: none;
        padding: 0;
        margin: 0;
        float:none;
        span {
          position: static;
        }
        .name {
          display: none;
        }
        .battle {
          display: none;
        }
        .image {
          display: inline-block;
          width: 40px;
          height: 40px;
          background-image: url("/images/units-sm.png");
          vertical-align: middle;
        }
        &.dreadnought .image {
          background-position-y:-40px;
        }
        &.cruiser .image {
          background-position-y:-80px;
        }
        &.destroyer .image {
          background-position-y:-120px;
        }
        &.fighter .image {
          background-position-y:-160px;
        }
        &.carrier .image {
          background-position-y:-200px;
        }
        &.ground .image {
          background-position-y:-240px;
        }
        &.pds .image {
          background-position-y:-280px;
        }
        &.dock .image {
          background-position-y:-320px;
        }
        .rolls {
          margin: 0 3px;
        }
        .losses {
          color: #C00;
          .serif;
          &.zero {
            display: none;
          }
        }
      }
      &.color-red .unit .image {
      }
      &.color-orange .unit .image {
        background-position-x: -40px;
      }
      &.color-yellow .unit .image {
        background-position-x: -80px;
      }
      &.color-green .unit .image {
        background-position-x: -120px;
      }
      &.color-blue .unit .image {
        background-position-x: -160px;
      }
      &.color-purple .unit .image {
        background-position-x: -200px;
      }
      &.color-gray .unit .image {
        background-position-x: -240px;
      }
      &.color-black .unit .image {
        background-position-x: -280px;
      }
    } //.force
    .summary-actions {
      clear: both;
      text-align: right;
      .btn {
        margin-left: 12px;
      }
      .done {
        color: @grayLight;
        border-color: @grayLight;
      }
      .next-round {
        color: @primaryBtnColor;
        border-color: @primaryBtnColor;
      }
      .start-invasion-combat {
        color: #B18B65;
        border-color: #B18B65;
      }
    }
    &.finished {
      .done {
        color: @primaryBtnColor;
        border-color: @primaryBtnColor;
      }
    }
  }


  .reset-dice.btn {
    display: none;
  }

  .resolve-round.btn {
    display: none;
  }

  .adjusting-battle-values {
    .unit {
      .quantity {
        display: none;
      }
      .adjust-battle-values {
        display: block;
      }
    }
  }

  // After dice have been rolled we start applying damage
  &.dice-rolled {
    .hits-from-opponent {
      display: block;
    }
    .unit .quantity a {
      visibility: hidden;
    }
    .damage {
      display: block;
    }

    .roll-dice.btn {
      display: none;
    }
    .reset-dice.btn {
      display: inline-block;
    }
    .resolve-round.btn {
      display: inline-block;
    }
    .before-dice {
      display: none;
    }
    .order-of-battle .unit.zero {
      .opacity(50);
    }
    .phase-message {
      color: @warningText;
      background-color: @warningBackground;
      border-color: @warningBorder;
      .setup {
        display: none;
      }
      .after-dice {
        display: block;
      }
    }
  }

  &.round-resolved {
    .reset-dice.btn {
      display: none;
    }
  }
  // applied ability modifiers
  &.ground .force.attacker.mod-tech-graviton-negator-fighter .unit.fighter {
    visibility: visible;
  }
} //#battle
#techtree {
  .technologies {
    margin-top: 8px;
  }
  .techlevel {
    .clearfix;
    padding:0 20px 42px;
    .category {
      display: inline-block;
      vertical-align: top;
    }
  }
  .tech {
    float:left;
    text-align: center;
    width: 138px;
    border: 1px solid #999;
    border-top: none;
    position: relative;
    .name {
      .font-size(10px);
      text-transform: uppercase;
      background-color: #999;
      color: #FFF;
      padding: 3px 5px;
    }
    .description {
      .serif(12px);
      padding: 3px 4px 7px;
    }
    .action {
      position: absolute;
      bottom: -10px;
      right: -10px;
      width: 25px;
      height: 25px;
      overflow: hidden;
      background: url("/images/research-tech.png") -25px top no-repeat;
      z-index: 1;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
      span {
        display: none;
      }
    }
    &.researched {
      .action {
        background-position-x: 0;
      }
    }
    &.blue {
      border-color: #0167FF;
      .name {
        background-color: #0167FF;
      }
    }
    &.green {
      border-color: #009900;
      .name {
        background-color: #009900;
      }
    }
    &.yellow {
      border-color: #CF910E;
      .name {
        background-color: #CF910E;
      }
    }
    &.red {
      border-color: #c00;
      .name {
        background-color: #c00;
      }
    }
  }
} //#techtree
.techlevel {
  &.level-2 {
    padding-bottom: 65px !important;
  }
  &.level-3 {
    padding-bottom: 55px !important;
  }
}
.tech {
  &.enviro-compensator { margin-left: 95px; }
  &.antimass-deflectors { margin-left: 101px; }
  &.hylar-v-assault-laser { margin-left: 260px; }
  // level2
  &.stasis-capsules { margin-left: 78px; }
  &.xrd-transporters { margin-left: 62px; }
  &.automated-defense-turrets { margin-left: 68px; }
  &.deep-space-cannon { margin-left: 72px; }
  &.l-3 { margin-left: 28px; }
  &.micro-technology { margin-left: 0; }
  &.l-4 { margin-left: 28px; }
  &.integrated-economy { margin-left: 0; }
  &.dacxive-animators { margin-left: 168px; }
  &.hyper-metabolism { margin-left: 100px; }
  &.type-iv-drive { margin-left: 37px; }
  &.transit-diodes { margin-left: 290px; }
  &.advanced-fighters { margin-left: 80px; }
  &.graviton-negator { margin-left: 80px; }
  &.fleet-logistics { margin-left: 650px; }
  &.x-89-bacterial-weapon { margin-left: 50px; }
}

.hidden, .hide {
  display: none;
}
.invisible {
  visibility: hidden;
}
.modal {
  border-color: #aaa;
  padding: 22px;
  background: #f4f4f4;
  h2.heading {
    font-weight: 200;
    .font-size(42);
    text-shadow: 1px 1px #fff;
    text-align: center;
    strong {
      font-weight: normal;
    }
  }
}
.modal-backdrop,
.modal-backdrop.fade.in {
  .opacity(50);
}
.readme_overlay {
  margin: 0 auto;
  width: 1024px;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -512px;
  z-index: 1000;
  background: @bodyBackground;
  .content {
    line-height: 1.2em;
    padding: 25px;
    width: 750px;
    margin: 0 auto;
    p {
      margin: 1em 0;
    }
  }
  .back {
    #index > .back;
  }
  &.loading {
    .back {
      display: none;
    }
    background: @bodyBackground url("/images/loader.gif") no-repeat 25px 25px;
  }
}

@media (device-max-height:700px) {
  #battle {
    .round h1 {
      font-size: 2.8rem;
      padding:0.33em 0;
      small {
        top:35px;
      }
    }
    .force {
      margin-top: 16px;
    }
    .battle-actions {
      margin-top: 25px;
    }
  }
}
