@import "bootstrap/reset";
@import "bootstrap/variables";
@import "bootstrap/mixins";

body {
  margin: 0;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;
}

.hidden {
  display: none;
}

.gamenav {

}

.container {
  width: 1024px;
}

.section {
  .hidden;

  &.active {
    display: block;
  }
}

.template {
  .hidden;
}

#battle {
  .round-summary {

    h2 .win, h2 .draw {
      .hidden;
    }

    &.win {
      h2 .win {
        display: inline;
      }
      h2 .continue {
        .hidden;
      }
    }

    &.draw {
      h2 .draw {
        display: inline;
      }
      h2 .continue {
        .hidden;
      }
    }
  }

  .round {
    .pre-battle {
      .hidden;
    }

    &.zero {
      .default {
        .hidden;
      }
      .pre-battle {
        display: inline;
      }
    }
  }

  .force {
    .clearfix;

    .name {
      .player {
        color: lighten(@textColor, 25%);
        font-size: @baseFontSize * 0.9;
      }
    }

    .hits-from-opponent {
      .hidden;
    }

    .damage {
      .hidden;
    }

    .unit {
      .clearfix;
      position: relative;
      width: 150px;
      height: 150px;
      float:left;

      .image {
        border: 1px solid #CCC;
        width: 98px;
        height: 98px;
      }

      .rolls {
        .hit {
          color: #F00;
        }
        .miss {
          color: #666;
        }
      }

      .adjust-battle-values {
        .hidden;
      }
    } //.unit
  } //.force

  .reset-dice.btn {
    .hidden;
  }

  .resolve-round.btn {
    .hidden;
  }

  .adjusting-battle-values {
    .unit {
      .adjust-battle-values {
        display: block;
      }
    }
  }

  // After dice have been rolled we start applying damage
  &.dice-rolled {
    .hits-from-opponent {
      display: block;
    }

    .damage {
      display: block;

      &.zero .value {
        .hidden;
      }
    }

    .roll-dice.btn {
      .hidden;
    }

    .reset-dice.btn {
      display: inline-block;
    }

    .resolve-round.btn {
      display: inline-block;
    }
  }

  &.round-resolved {
    .reset-dice.btn {
      .hidden;
    }
  }

}

