
.reset() {
  padding:0;
  margin:0;
}

.horizontal-list() {
  .reset;
  li {
    list-style:none;
    display: inline-block;
    .reset;
  }
}

.text-inset(@shadowColor: #FFF) {
  text-shadow: 1px 1px @shadowColor;
}
.font-size(@targetSize, @base: @baseFontSize) {
  @rem: (@targetSize / @base);
  font-size: ~"@{rem}rem";
}
.serif(@size: @baseFontSize, @style: italic) {
  #font > #family > .serif;
  font-style: @style;
  .font-size(@size);
}
